---
services:
  vaultwarden:
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.vaultwarden.entrypoints=https"
      - "traefik.http.routers.vaultwarden.rule=Host(`${VAULTWARDEN_DOMAIN:-vault.wijlens.com}`)"
      - "traefik.http.routers.vaultwarden.service=vaultwarden"
      - "traefik.http.services.vaultwarden.loadbalancer.server.port=80"
      - "traefik.http.routers.vaultwarden.${TRAEFIK_SERVICES_TLS_CONFIG}"
  traefik:
    networks:
      opencloud-net:
        aliases:
          - ${VAULTWARDEN_DOMAIN:-vault.wijlens.com}
